<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Category</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 20px;
        }
        .container {
            width: 50%;
        }
        .btn-back {
            position: fixed;
            top: 20px;
            left: 20px;
            z-index: 1000; /* Ensure it is on top of other elements */
        }
        .btn-logout {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 1000; /* Ensure it is on top of other elements */
        }
    </style>
</head>
<body>
<!-- Geri butonunu sol üst köşeye yerleştirin -->
<a href="http://localhost:8080/categories/" class="btn btn-secondary btn-back">Geri</a>

<!-- Çıkış Yap butonunu sağ üst köşeye yerleştirin -->
<form action="/logout" method="post" class="btn-logout" style="display: inline;">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <button type="submit" class="btn btn-danger">Çıkış Yap</button>
</form>

<div class="container">
    <h2>Edit Category</h2>
    <form action="/categories/update" method="post">
        <input type="hidden" id="id" name="id" th:value="${category.id}">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" th:value="${category.name}" required>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
</body>
</html>
